# doesnt work yet cuz of google cloud auth, will fix (maybe)
services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - PYTHONPATH=/app
    command: uvicorn server:app --host 0.0.0.0 --port 8000 --reload
    